[submodule "ml"]
	path = ml
	url = git@github.com:IshitaTakeshi/ClothingRecommenderML.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/ashi-psn/ClothingRecommender4Android
[submodule "web"]
	path = web
	url = https://github.com/tkntkn/ClothingRecommenderWeb
